* {
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
}

#canvas{
  border: 2px solid gray;
}

.heading{
  font-size: 1.25rem;
  width: 20rem;
  background: #BBB;
  color: #222;
  clear: both;
}